<p>
  <strong>order_no.:</strong>
  <%= @order.order_no %>
</p>


 <h2>Add a Product:</h2>
<%= form_with(model: [ @order, @order.products.build ], local: true) do |form| %>
  
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :Quantity %><br>
    <%= form.text_area :quantity %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>