<p>
  <strong>Name:</strong>
  <%= @warehouse_item.name %>
</p>

<h2>Add a supplier:</h2>
<%= form_with(model: [ @warehouse_item, @warehouse_item.suppliers.build ], local: true) do |form| %>
  
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :mobile %><br>
    <%= form.text_area :mobile_no %>
  </p>

  <p>
    <%= form.label :product_quantity %><br>
    <%= form.text_area :product_quantity %>
  </p>

  <p>
    <%= form.label :product_price %><br>
    <%= form.text_area :product_price %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Suppliers', warehouse_item_suppliers_path(@warehouse_item) %>

  
