<p>
  <strong>Name:</strong>
  <%= @warehouse_item.name %>
</p>
 

 <h2>Add a category:</h2>
<%= form_with(model: [ @warehouse_item, @warehouse_item.categories.build ], local: true) do |form| %>
  
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>

  <td><%= link_to 'Categories', warehouse_item_categories_path(@warehouse_item) %></td>
<% end %>