<h1>Products</h1>
<% @products.each do |product| %>
  <p>
    <strong>name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>quantity:</strong>
    <%= product.quantity %>
  </p>

<p>
    <strong>Supplier id:</strong>
    <%= product.supplier_id %>
  </p>


 <td><%= link_to 'Show', product_path(category_id: product.category_id,id: product.id) %>

<% end %>