<h2>Products</h2>

<p>
  <strong>name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Supplier id:</strong>
  <%= @product.supplier_id %>
</p>