<h1>SUPPLIERS</h1>
 
  <% @suppliers.each do |supplier| %>
<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>
 
<p>
  <strong>mobile:</strong>
  <%= @supplier.mobile_no %>
</p>

<p>
  <strong>Product Quantity:</strong>
  <%= @supplier.product_quantity %>
</p>

<p>
  <strong>Product Price:</strong>
  <%= @supplier.product_price %>
</p>



<td><%= link_to 'Show', warehouse_item_suppliers_path(warehouse_item_id: supplier.warehouse_item_id,id:supplier_id) %></td>

  <% end %>
  </table>





