<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>
 
<p>
  <strong>mobile:</strong>
  <%= @supplier.mobile_no %>
</p>

<p>
  <strong>Product Quantity:</strong>
  <%= @supplier.product_quantity %>
</p>

<p>
  <strong>Product Price:</strong>
  <%= @supplier.product_price %>
</p>

<h2>Add a order:</h2>
<%= form_with(model: [ @supplier, @supplier.orders.build ], local: true) do |form| %>
  <p>
    <%= form.label :order_no %><br>
    <%= form.text_field :order_no %>
  </p>
  
    <%= form.submit %>
  </p>
<% end %>