<p>
  <strong>name:</strong>
  <%= @warehouse.name %>
</p>


<h2>Add a category:</h2>
<%= form_with(model: [ @warehouse, @warehouse.categories.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', warehouses_path %>

